@import url("../task-view.component.css");

p{
    padding: 10px 20px;
    display: inline-block;
    font-size: 16px;
    font-weight: 800;
    background-color: rgb(250, 246, 246);
    border-radius: 8px;
    width: 100%;
    cursor: pointer;
}


.titles{
    padding:10px; 
    font-weight: bold;
    letter-spacing: 4px;
}

p:hover{
    box-shadow: 0 0 0 5px #eeeeee;
}

.closedTask{
    text-decoration: line-through;
    opacity : 0.75;
    cursor: default;
}

