@import url("../task-view.component.css");

.tasktitle{
    padding: 10px 10px;
    font-size: 14px;
    font-weight: 800;
    background-color: rgb(250, 246, 246);
    border-radius: 20px;
    width: 100%;
    cursor: pointer;
    margin : 10px 2px;
}

.titleFlex{
    display: flex;
    
}

.allTasks{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 85%;
    position: absolute;
    width: 87%;
}

.itemsAndIcons{
    display: flex;
}

::-webkit-scrollbar {
    width: 0px;
  }

.titles{
    padding-left: 8px; 
    font-weight: bold;
    letter-spacing: 4px;
    padding-bottom: 9px;
    padding-top: 9px;
}

.tasktitle:hover{
    box-shadow: 0 0 0 5px #eeeeee;

}

.tasktitle:hover > .buttonDiv{
    visibility: visible;
}

.buttonDiv{
    visibility: hidden;
}

.closedTask{
    text-decoration: line-through;
    opacity : 0.75;
    cursor: default;
}


.addTaskButton{
    position: absolute;
    bottom: 20px;
    right:10px;
    border-radius: 50%;
    color: #5f9ea0;
    border: none;
}