
<div>
    <div class="titleFlex">
        <h4 class="titles">TASKS</h4>
        <button class="btn btn-sm btn-info float-right w-5 py-0 my-0 ">Logout</button>
    </div>
    <div class="allTasks overflow-auto" *ngIf="allTasks">
        <div *ngFor="let item of allTasks" [ngClass]="{'closedTask' : item.completed}" (click)="updateTaskToCompleted(item)">
            <div class="itemsAndIcons">
                <div class="tasktitle" >
                    <p>{{item.title}}</p>
                    <div class="buttonDiv">
                        <button class="btn float-right text-danger" (click)="deleteTask(item._id)"><i class="fa fa-trash"aria-hidden="true"></i></button>
                        <button class="btn float-right" routerLink="/lists/{{listId}}/edit-task/{{item._id}}"><i class="fa fa-edit" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="allTasks.length == 0" class="ml-2 mt-4">
            <i>No tasks added yet </i>
        </div>
    </div>
   
    <div *ngIf="!allTasks" class="ml-2 mt-4">
        <i>Please select a List from the sidebar </i>
    </div>
    
    <div class="addTaskButton">
        <button type="button" class="btn " routerLink="/lists/{{listId}}/newTask"><span><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></span></button>
    </div>
</div>