<div class="card" style="width: 25rem;">
  <div class="d-flex">
    <img src="../../../assets/static/user.svg" class="card-img-top profile-image">
    <label class="ml-3 mt-auto loginHeader">L O G I N</label>
  </div>
  <div class="card-body">
    <form action="/lists" class="form-signin">
      <input type="email" #emailInput id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
      <input type="password" #passwordInput id="inputPassword" class="form-control" placeholder="Password" required>
      <button type="submit" class="btn btn-lg btn-primary btn-block btn-signin" (click)="authenticateUserByLogin(emailInput.value,passwordInput.value)">Login</button>
    </form>
    <label class="my-3 float-right pr-2"><a href="/signup">Sign me up</a></label>
  </div>
</div>